<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta property="og:description" content="{{ .Content | plainify | htmlEscape | truncate 200 }}">
    <meta name="author" content="">
    <title>ELOQUENT</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="assets/css/main.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div class="container-fluid nav-container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="index.html">
                    <img src="assets/images/logo.png">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <img class="menu-button" src="assets/images/menu.png" alt="">
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="main-nav navbar-nav ml-auto">
                        <li class="nav-item main-li">
                            <a href="index.html">Overview</a>
                        </li>
                        <li class="nav-item main-li active">
                            <a href="business-solution.html">Business Solutions</a>
                        </li>
                        <li class="nav-item main-li">
                            <a href="product-services.html">LaaS</a>
                        </li>
                        <li class="nav-item main-li">
                            <a href="about.html">About Us</a>
                        </li>
                        <li class="nav-item main-li">
                            <a href="#">Join Now</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main role="main">
        <section class="page-banner rel bg-common business-banner" style="background-image: url('assets/images/solution/solution-banner.jpg');">
            <div class ="container rel z-60 text-center">
               <div class="page-caption text-left">
                    <h1>Your cloud solution should be as unique as your business.</h1>
                    <p>Leverage an enlightened approach to cloud technology solutions with Eloquent's uniquely designed offerings of tools and implementations.</p>
               </div>
            </div>
            <div class = "pills-container text-center">
                <ul class="solutions-links">
                    <li><a href="#manage_hosting">Manage Hosting</a></li>
                    <li><a href="#saas_transformation">Saas Transformation</a></li>
                    <li><a href="#cloud_based_office">Cloud Based Office</a></li>
                    <li><a href="#office_transformation">Business Tool Suite</a></li>
                    <li><a href="#migration_transfer">Migration and Transfer</a></li>
                    <li><a href="#disaster_recovery">Disaster Recovery</a></li>
                  </ul>
               </div>
        </section>
       
       <section class ="solutions-container rel">
           <div class="row-line" id ="manage_hosting">
            <div class="container">
                <div class="row solutions-row">
                 <div class="col-md-12 col-lg-6">
                    <div class="solutions-content text-left">
                        <h4>MANAGED HOSTING</h4>
                        <h1>Focus on what you do best. We'll do the same.</h1>
                        <p>Managing infrastructure of any kind is no small responsibility. It is a vital and intimately engrained aspect of your business, which is why your IT team is constantly working to keep it up and running as efficiently as possible. With our expertise as your managed cloud provider, you and your team can focus on maximizing the value of your IT investment.</p>
                        <h2>Managed Hosting For </h2>
                        <ul class ="list-unstyled">
                            <li>
                                <img src="assets/images/solution/manage-hosting/web-application.png" alt="" class="list-icon">
                                <h5>Web Applications</h5>
                            </li>
                            <li>
                             <img src="assets/images/solution/manage-hosting/mobile-apps.png" alt="" class="list-icon">
                             <h5>Mobile Apps</h5>
                         </li>
                         <li>
                             <img src="assets/images/solution/manage-hosting/website.png" alt="" class="list-icon">
                             <h5>Websites</h5>
                         </li>
                        </ul>
                    </div>
                 </div>
                 <div class="col-md-12 col-lg-6 icon-row">
                     <img class ="solution-link-icon" src="assets/images/solution/manage-hosting/manage-hosting.png" alt="">
                 </div>
                </div>
            </div>
           </div>
           <div class="row-line" id ="saas_transformation">
            <div class="container">
                <div class="row solutions-row">
                 <div class="col-md-12 col-lg-6">
                    <div class="solutions-content text-left">
                        <h4>SaaS TRANSFORMATION</h4>
                        <h1>Propel your software business into the future. Adapt to the world of SaaS.</h1>
                        <p>Your mature software solution is perfectly tuned to the needs of your clients and the industries that you serve. However, the technology landscape is changing and more software providers are moving to the cloud. </p>
                        <br>
                        <p>Rather than re-build your platform from the ground up, migrate your existing solution directly to the web with Eloquent Cloud. Host and deliver your software directly to your user-base through a web browser with a fluid, user-friendly experience.</p>
                        <h2>SUPER-CHARGE YOUR TECH</h2>
                        <ul class ="list-unstyled">
                            <li>
                                <img src="assets/images/solution/saas-transformation/low-cost.png" alt="" class="list-icon">
                                <h5>Lower Support Costs</h5>
                            </li>
                            <li>
                             <img src="assets/images/solution/saas-transformation/streamline.png" alt="" class="list-icon">
                             <h5>Streamline Development</h5>
                         </li>
                         <li>
                             <img src="assets/images/solution/saas-transformation/userbase.png" alt="" class="list-icon">
                             <h5>Grow Your Userbase</h5>
                         </li>
                        </ul>
                    </div>
                 </div>
                 <div class="col-md-12 col-lg-6 icon-row">
                     <img class ="solution-link-icon" src="assets/images/solution/saas-transformation/saas-transformation.png" alt="">
                 </div>
                </div>
            </div>
           </div>
           <div class="row-line" id ="cloud_based_office">
            <div class="container">
                <div class="row solutions-row">
                 <div class="col-md-12 col-lg-6">
                    <div class="solutions-content text-left">
                        <h4>CLOUD-BASED OFFICE</h4>
                        <h1>Virtual networks. Streaming desktops. Welcome to the future.</h1>
                        <p>Create your own inter-connected business ecosystem by integrating all of your applications, desktops, data, servers, and networking tools together in the same environment. </p>
                        <br>
                        <p>A cloud-based office allows you to break down the barriers between machines and data, allowing your team access to actionable insights and efficiency tools to increase productivity across the organization.</p>
                        <h2>BENEFITS</h2>
                        <ul class ="list-unstyled">
                            <li>
                                <img src="assets/images/solution/cloud-based-office/globe.png" alt="" class="list-icon">
                                <h5>Work Anywhere</h5>
                            </li>
                            <li>
                             <img src="assets/images/solution/cloud-based-office/lower-cost.png" alt="" class="list-icon">
                             <h5>Lower Hardware Costs
                            </h5>
                         </li>
                         <li>
                             <img src="assets/images/solution/cloud-based-office/flow.png" alt="" class="list-icon">
                             <h5>Connect Everything</h5>
                         </li>
                        </ul>
                    </div>
                 </div>
                 <div class="col-md-12 col-lg-6 icon-row">
                     <img class ="solution-link-icon" src="assets/images/solution/cloud-based-office/cloud-based.png" alt="">
                 </div>
                </div>
            </div>
           </div>
           <div class="row-line" id ="office_transformation">
            <div class="container">
                <div class="row solutions-row">
                 <div class="col-md-12 col-lg-6">
                    <div class="solutions-content text-left">
                        <h4>OFFICE APPLICATIONS</h4>
                        <h1>Collaboration & Productivity Tools for Business</h1>
                        <p>Empower your business with a fully integrated suite of business tools. Email, docs, spreadsheets, storage, and more available to every member of your team - accessible from anywhere.</p>
                        <h2>EVERYTHING YOU NEED</h2>
                        <ul class ="list-unstyled">
                            <li>
                                <img src="assets/images/solution/office-application/communicate.png" alt="" class="list-icon">
                                <h5>Communicate</h5>
                            </li>
                            <li>
                             <img src="assets/images/solution/office-application/create.png" alt="" class="list-icon">
                             <h5>Create</h5>
                         </li>
                         <li>
                             <img src="assets/images/solution/office-application/access-control.png" alt="" class="list-icon">
                             <h5>Access & Control</h5>
                         </li>
                        </ul>
                    </div>
                 </div>
                 <div class="col-md-12 col-lg-6 icon-row">
                     <img class ="solution-link-icon" src="assets/images/solution/office-application/office-application.png" alt="">
                 </div>
                </div>
            </div>
           </div>
           <div class="row-line" id ="migration_transfer">
            <div class="container">
                <div class="row solutions-row">
                 <div class="col-md-12 col-lg-6">
                    <div class="solutions-content text-left">
                        <h4>MIGRATION | TRANSFER</h4>
                        <h1>Moving to Eloquent Cloud:</h1>
                        <p>Moving from one cloud to another can be operationally demanding and technically challenging even for seasoned IT professionals. Allow us to assist in the migration to make sure things continue to run as smoothly as possible.</p>
                        <h2>MIGRATE FROM</h2>
                        <ul class ="list-unstyled">
                            <li>
                                <img src="assets/images/solution/migration-transfer/cloud.png" alt="" class="list-icon">
                                <h5>AWS</h5>
                            </li>
                            <li>
                             <img src="assets/images/solution/migration-transfer/cloud.png" alt="" class="list-icon">
                             <h5>Microsoft Azure</h5>
                         </li>
                         <li>
                             <img src="assets/images/solution/migration-transfer/cloud.png" alt="" class="list-icon">
                             <h5>Any Other Cloud Service</h5>
                         </li>
                        </ul>
                    </div>
                 </div>
                 <div class="col-md-12 col-lg-6 icon-row">
                     <img class ="solution-link-icon" src="assets/images/solution/migration-transfer/migration-transfer.png" alt="">
                 </div>
                </div>
            </div>
           </div>
           <div class="row-line" id ="disaster_recovery">
            <div class="container">
                <div class="row solutions-row">
                 <div class="col-md-12 col-lg-6">
                    <div class="solutions-content text-left">
                        <h4>DISASTER RECOVERY</h4>
                        <h1>Be ready. <br>
                            Be prepared.</h1>
                        <p>Is your business prepared to continue after a disaster? Reconnecting access to applications, hardware, data, servers, networking equipment, power requires a Disaster Recovery plan to be able to resume business as usual in the shortest possible time. We can help.</p>
                        <h2>ACHIEVED WITH</h2>
                        <ul class ="list-unstyled">
                            <li>
                                <img src="assets/images/solution/disaster-recovery/remote.png" alt="" class="list-icon">
                                <h5>Remote Desktop</h5>
                            </li>
                            <li>
                             <img src="assets/images/solution/disaster-recovery/storage.png" alt ="" class="list-icon">
                             <h5>Storage</h5>
                         </li>
                         <li>
                             <img src="assets/images/solution/disaster-recovery/backup.png" alt="" class="list-icon">
                             <h5>Backups</h5>
                         </li>
                        </ul>
                    </div>
                 </div>
                 <div class="col-md-12 col-lg-6 icon-row">
                     <img class ="solution-link-icon" src="assets/images/solution/disaster-recovery/disaster-recovery.png" alt="">
                 </div>
                </div>
            </div>
           </div>
       </section>
        <section class ="rel offer bg-common page-offer" style="background-image: url('assets/images/offer-bg.jpg');">
               <div class="content">
                    <h1>Building your own cloud solution?</h1>
                    <p>Pick and choose from our products & services to architect your perfect cloud environment.</p>
                    <div class ="d-flex two-buttons">
                        <a href="product-services.html">Products</a>
                        <a href="#">Learn More</a>
                    </div> 
               </div>
        </section>
        <section class="subscription">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="content">
                            <h2>LOOKING FOR A TECHNOLOGY PARTNER?</h2>
                            <p>Eloquent and its unique cloud-based tools can help innovate up-and-coming companies.</p>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 flex-box">
                        <div class="forms">
                            <input type="email" placeholder="Your email address">
                            <input type="button" value="Subscribe">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4 flex-box">
                    <img class="footer-logo" src="assets/images/footer-logo.png" alt="">
                </div>
                <div class="col-md-12 col-lg-4 ">
                    <div class="site-links common-div">
                        <h1>Menu</h1>
                        <ul class="list-unstyled">
                            <li><a href="index.html">Overview</a></li>
                            <li><a href="business-solution.html">Solutions</a></li>
                            <li><a href="product-services.html">Cloud Services</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="common-div contacts">
                        <h1>Get in Touch</h1>
                        <ul class="list-unstyled">
                            <li><a href="tel: (818) 273-5300"><i class="fa fa-phone"></i> (818) 273-5300</a></li>
                            <li><a href="mailto: contact@eloquentcloud.com"><i class="fa fa-envelope"></i>
                                    contact@eloquentcloud.com</a></li>
                            <li><a href=""><i class="fa fa-map-marker"></i> PO Box One Agoura Hills, CA 91376</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="list-unstyleda footer-note">
                <li>Copyright © 2020 All rights reserved | Eloquent Cloud, LLC</li>
                <li><a href="">Privacy Policy</a>/<a href="#">Terms & Conditions</a></li>
            </ul>
        </div>
    </footer>

    <script src="assets/js/jquery-v3.3.1.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/owl.carousel.min.js"></script>
	<script src="assets/js/main.js"></script>
     <script src="assets/js/jquery.matchHeight.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.solutions-container ul li img ').matchHeight({ byRow: false });
           
        });
    </script>
</body>

</html>