<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
	<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
        <meta property="og:description" content="{{ .Content | plainify | htmlEscape | truncate 200 }}">
		<meta name="author" content="">
		<title>ELOQUENT</title>
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="assets/css/main.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	</head>
	<body>
        <header>
            <div class="container-fluid nav-container">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/images/logo.png">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <img class="menu-button" src="assets/images/menu.png" alt="">
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="main-nav navbar-nav ml-auto">
                            <li class="nav-item main-li active">
                                <a href="index.html">Overview</a>
                            </li>
                            <li class="nav-item main-li">
                                <a href="business-solution.html">Business Solutions</a>
                            </li>
                            <li class="nav-item main-li">
                                <a href="product-services.html">LaaS</a>
                            </li>
                            <li class="nav-item main-li">
                                <a href="about.html">About Us</a>
                            </li>
                            <li class="nav-item main-li">
                                <a href="#">Join Now</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <main role ="main">
            <section class ="home-banner rel bg-common" style="background-image: url('assets/images/home-banner.jpg');">
                <div class="container">
                    <div class="banner-tagline">
                        <h1>Take your business to the <span>Cloud</span></h1>
                        <p>Simple access to powerful cloud-based services for business.</p>
                        <a href="#">Learn More</a>
                    </div>
                </div>
            </section>
            <section class ="cloud-based-section">
                <div class ="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-6 about-caption">
                            <h1>Cloud-Based Business Solutions</h1>
                            <div class = "section-links">
                                <a href="#">Virtual Desktops</a>
                                <a href="#">Productivity & Collaboration Tools</a>
                                <a href="#">laaS</a>
                            </div>
                            <p>Eloquent Cloud takes the power of cloud and makes it accessible to anyone. Whether you are a Director of IT looking to recreate and digitally enhance your physical network infrastructure, or a business owner looking to save time and costs by consolidating your technology under a single provider - Eloquent is ready to support your future growth.</p>
                        </div>
                        <div class="col-md-12 col-lg-6 text-center">
                            <img src="assets/images/about-us-img.jpg" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <section class ="page-tagline">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-7 flex-box">
                            <h2>Future-proofing your business means having a digital infrastructure.</h2>
                        </div>
                        <div class="col-md-12 col-lg-5">
                            <p>Eloquent Cloud provides your organization with cutting-edge cloud solutions, designed and uniquely configured for the technology needs of your business. Our solutions are hosted on our advanced private cloud, ensuring peak performance and advanced security.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class = "service-solutions">
                <h3 class ="text-center">Services & Solutions</h3>
                <ul class = "list-unstyled">
                    <li>
                        <div class ="body-card">
                            <h1>Business Solutions</h1>
                            <div class ="line"></div>
                            <div class ="body-row">
                                <div class ="row-item">
                                    <div class="row no-gutters">
                                        <div class="col-sm-3 text-center">
                                            <img src="assets/images/cloud-app.png" alt="">
                                        </div>
                                        <div class="col-sm-9 text-left">
                                            <h2>Cloud-based Office Apps</h2>
                                            <p>Collaboration & ProductivityTools</p>
                                        </div>
                                    </div>
                                </div>
                                <div class ="row-item">
                                    <div class="row no-gutters">
                                        <div class="col-sm-3 text-center">
                                            <img src="assets/images/virtual-desktop.png" alt="">
                                        </div>
                                        <div class="col-sm-9 text-left">
                                            <h2>Virtual Desktops (DaaS)</h2>
                                            <p>Virtual Windows desktops accessable from anywhere</p>
                                        </div>
                                    </div>
                                </div>
                                <div class ="row-item">
                                    <div class="row no-gutters">
                                        <div class="col-sm-3 text-center">
                                            <img src="assets/images/storage.png" alt="">
                                        </div>
                                        <div class="col-sm-9 text-left">
                                            <h2>Storage</h2>
                                            <p>Store files and find what you need</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <a href="business-solution.html">Business Solutions</a>
                        </div>
                    </li>
                    <li>
                     <div class ="body-card">
                         <h1>LaaS</h1>
                         <div class ="line"></div>
                            <div class ="body-row">
                                <div class ="row-item">
                                    <div class="row no-gutters">
                                        <div class="col-sm-3 text-center">
                                            <img src="assets/images/cloud-computing.png" alt="">
                                        </div>
                                        <div class="col-sm-9 text-left">
                                            <h2>Managed Cloud</h2>
                                            <p>Agile, scalable, and efficient as a managed service</p>
                                        </div>
                                    </div>
                                </div>
                                <div class ="row-item">
                                    <div class="row no-gutters">
                                        <div class="col-sm-3 text-center">
                                            <img src="assets/images/servers.png" alt="">
                                        </div>
                                        <div class="col-sm-9 text-left">
                                            <h2>Hosting</h2>
                                            <p>Allow us to professionally manage your infrastructure</p>
                                        </div>
                                    </div>
                                </div>
                                <div class ="row-item">
                                    <div class="row no-gutters">
                                        <div class="col-sm-3 text-center">
                                            <img src="assets/images/database.png" alt="">
                                        </div>
                                        <div class="col-sm-9 text-left">
                                            <h2>Other Cloud Services</h2>
                                            <p>Compute, storage, database, network, and more</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          <a href="product-services.html">Learn More</a>
                     </div>
                 </li>
                </ul>
            </section>
            <section class ="simplify-modernize rel">
                <div class ="container-fluid">
                    <div class="row no-gutters">
                        <div class="col-md-12 col-lg-6">
                            <img class ="section-banners"src="assets/images/simplify-image.png" alt="">
                        </div>
                        <div class="col-md-12 col-lg-6">
                           <div class ="right-side text-left">
                                <div class ="body-max">
                                    <h1>Simplify and modernize your technology footprint.</h1>
                                    <p>Traditionally, fragmenting your technology needs across multiple providers was simply the cost of doing business. Just when you've finished sourcing your computers from Dell, operating systems from Microsoft, networking and storage hardware from an outside IT provider, it's time to start on security patches, OS updates, and costly warranty renewals Eloquent has taken an enlightened approach to solving these pain-points with end-to-end centralized solutions that super-charge your team's productivity, while lowering your cost per employee.</p>
                                    <br>
                                    <p><span>The cost of multiple providers for:</span></p>
                                    <ul class ="list-unstyled">
                                        <li> Computers</li>
                                        <li> Servers</li>
                                        <li> Chat</li>
                                        <li> Operating</li>
                                        <li> Email</li>
                                        <li> Storage</li>
                                        <li> Business applications</li>
                                        <li> Warranty</li>
                                    </ul>
                                    <a href="#">Learn More</a>
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class = "bigger-better">
                <div class="container">
                    <div class = "headline text-center">
                        <h1>Cloud - Isn't bigger better?</h1>
                        <p>As it turns out, raw size isn't always the most important factor to consider. </p>
                    </div>
                    <div class="row">
                        <div class="cold-md-12 col-lg-4">
                            <div class ="this-body">
                                <div class = "image-box">
                                    <img src="assets/images/goal.png" alt="">
                                </div>
                                <h2 class ='title-service'>Business Goals</h2>
                                <div class="more-height">
                                    <p class ="more">While most cloud providers expect you to integrate with them, we'vebuilt something designed to integrate with you. Every business is unique. And every Eloquent solution is specifically tailored to address the unique needs and requirements of your business. Unlike the cloud vendor who offers the same service to millions, we are your technology partner - ready to address your present needs and deliver a digital infrastructure that supports your future growth.</p>
                                </div>
                            </div>
                        </div>
                        <div class="cold-md-12 col-lg-4">
                            <div class ="this-body">
                                <div class = "image-box">
                                    <img src="assets/images/privacy.png" alt="">
                                </div>
                                <h2 class ='title-service'>Privacy & Data Protection</h2>
                                <div class="more-height">
                                    <p class ="more">Unlike the big guys, we are not in the business of mining and analyzing your data to serve you ads. Your information belongs to you, which is why your data within the Eloquent Cloud is secured, protected, and made available to you - not third parties. </p>
                                </div>
                            </div>
                        </div>
                        <div class="cold-md-12 col-lg-4">
                            <div class ="this-body">
                                <div class = "image-box">
                                    <img src="assets/images/performance.png" alt="">
                                </div>
                                <h2 class ='title-service'>Performance</h2>
                                <div class ="more-height">
                                    <p class ="more">In reality, the machines run by most cloud providers are essentially commodity hardware running commodity operating systems. While you could take the time yourself or hire someone else to try to understand cloud technology and apply it to your business, cloud computing can be pretty complicated (trust us, we know). Instead, let our cloud experts personally configure, optimize, and maintain your tech to ensure security and performance as part of our managed service.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class ="rel offer bg-common" style="background-image: url('assets/images/offer-bg.jpg');">
                <h1>Email, docs, spreadsheets, calendar and more.</h1>
                <p>All integrated into a single suite of productivity:</p>
                <a href="#">Learn More</a>
            </section>
            <section class ="enlightened-approach">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-7 text-left content">
                            <h1>An enlightened approach to cloud services.</h1>
                            <p>What does a technology solution need to be considered "cutting-edge" nowadays? It's not as easy as it used to be. Today, cutting-edge demands:</p>
                            <ul class ="list-unstyled">
                                <li>Integration</li>
                                <li>Ease of use</li>
                                <li>Ease of maintenance</li>
                                <li>Uncompromising security</li>
                                <li>Scalablity</li>
                                <li>Future-proof design</li>
                            </ul>
                            <p>Eloquent Cloud has been built from the ground up to be your single, robust provider of cutting-edge technology services. With our stream-lined business-friendly pricing, built-in security, and personal business touch, we've created an ecosystem of tools and solutions for the sole purpose of increasing your organization's longevity.</p>
                        </div>
                        <div class="col-md-12 col-lg-5">
                            <img src="assets/images/row-image-1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <section class ="cloud-power rel">
                <div class="container text-center">
                    <h1>What will you do with pure cloud power?</h1>
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="container-img">
                                <img src="assets/images/cloud-power-1.jpg" alt="">
                                <div class ="body-opacity">
                                    <h2>Build digital infrastructure together</h2>
                                    <a href="#">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="container-img">
                                <img src="assets/images/cloud-power-2.jpg" alt="">
                                <div class ="body-opacity">
                                    <h2>Create something entirely your own</h2>
                                    <a href="#">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
            <section class ="biggest-name text-center">
                <h1>The Bigest Name Around</h1>
                <div class="container">
                    <ul class ="list-unstyled">
                        <li><img src="assets/images/ibm-logo.png" alt=""></li>
                        <li><img src="assets/images/capital-one.png" alt=""></li>
                        <li><img src="assets/images/cern.png" alt=""></li>
                    </ul>
                </div>
            </section>
            <section class ="subscription">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="content">
                                <h2>LOOKING FOR A TECHNOLOGY PARTNER?</h2>
                                <p>Eloquent and its unique cloud-based tools can help innovate up-and-coming companies.</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 flex-box">
                            <div class ="forms">
                                <input type="email" placeholder="Your email address">
                                <input type="button" value="Subscribe">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-4 flex-box">
                        <img class ="footer-logo" src ="assets/images/footer-logo.png" alt="">
                    </div>
                    <div class="col-md-12 col-lg-4 ">
                        <div class ="site-links common-div">
                            <h1>Menu</h1>
                            <ul class="list-unstyled">
                                <li><a href="index.html">Overview</a></li>
                                <li><a href="business-solution.html">Solutions</a></li>
                                <li><a href="product-services.html">Cloud Services</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class ="common-div contacts">
                            <h1>Get in Touch</h1>
                            <ul class ="list-unstyled">
                                <li><a href="tel: (818) 273-5300"><i class ="fa fa-phone"></i> (818) 273-5300</a></li>
                                <li><a href="mailto: contact@eloquentcloud.com"><i class ="fa fa-envelope"></i> contact@eloquentcloud.com</a></li>
                                <li><a href=""><i class ="fa fa-map-marker"></i> PO Box One Agoura Hills, CA 91376</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class ="list-unstyleda footer-note">
                    <li>Copyright © 2020 All rights reserved  | Eloquent Cloud, LLC</li>
                    <li><a href="">Privacy Policy</a>/<a href="#">Terms & Conditions</a></li>
                </ul>
            </div>
        </footer>
		
        <script src="assets/js/jquery-v3.3.1.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/owl.carousel.min.js"></script>
		<script src="assets/js/main.js"></script>
        <script src="assets/js/jquery.matchHeight.js"></script>
        <script type="text/javascript">
            $(function() {
                $('.body-row').matchHeight({byRow:false});
                $('.image-box').matchHeight({byRow:false});
                $('.more').matchHeight({byRow:false});
			});
		</script>
	</body>
</html>